.new-episodes {
  animation-name: slidee;
  transform: translateY(-100px);
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  background-color: #222629;
  border-top: 0.1px solid #6d6969;
  border-radius: 50px 50px;
}

@keyframes slidee {
  from {
  }
  to {
    transform: translateY(0);
  }
}
.swiper-new-episodes {
  height: 450px;
}
div.swiper-button-prev {
  margin-left: 96%;
  margin-top: 1%;
  position: absolute;
  height: 30%;
  top: 0;
  left: 0;
  right: 0;
  color: #fff;
  background-color: #2a2b31;
  padding: 1.5%;
  border-radius: 10px 10px;
  cursor: pointer;
}
div.swiper-button-prev:hover {
  background-color: #0652a3;
}
div.swiper-button-next {
  color: #fff;
  background-color: #2a2b31;
  height: 30%;
  padding: 1.5%;
  border-radius: 10px 10px;
  cursor: pointer;
}
div.swiper-button-next:hover {
  background-color: #0652a3;
}

.new-episodes h1 {
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  line-height: 40px;
  font-weight: 600;
  color: rgb(187, 165, 40);
  margin: 2% 0 1rem 14%;
}

.animes-input {
  outline: 0;
  border: none;
  color: #fff;
  background-color: transparent;
  padding: 6px 10px 7px;
  text-align: center;
}
.icon-search {
  /* border: 1px solid gold; */
  font-size: 20px;
  background-color: transparent;
  padding: 7px 0.5em 10px;
  margin-top: 2px;
}
.div-animes-input {
  color: white;
  border: 2px solid rgb(36, 36, 35);
  height: 4%;
  border-radius: 5px 5px;
  background-color: #434857;
  width: 100%;
  max-width: 300px;
  margin-left: 16%;
  box-shadow: 1px 0.2px 5px 1px rgb(235, 233, 233);
}

.swiper-anime {
  width: 80%;
  height: 50%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
  flex-wrap: wrap;
}

.swiper-anime .carousel {
  max-width: 300px;
}

.swiperSlide-anime:hover ~ .new-episodes-name-anime {
  color: rgb(245, 219, 219);
}

@keyframes efeit {
  from {
    background-position: 100% 50%;
  }
  to {
    background-position: 100% 0%;
  }
}

/* @media (max-width: 1024px) {
  .swiper-anime {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .div-swiperSlide-new-episodes {
    width: 220px;
    height: 360px;
  }
  .slide {
    margin-left: 20%;
  }
} */

@media (max-width: 600px) {
  /* .swiperSlide-anime {
    min-width: 150px;
    min-height: 300px;
  } */
  .new-episodes h1 {
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-left: 1em;
    min-width: 20%;
    color: rgb(187, 165, 40);
  }
  .div-swiperSlide-new-episodes {
    width: 220px;
    height: 370px;
  }
  /* .button-details {
    display: none;
  } */
  .new-episodes {
    border-top: none;
  }
  .swiper-anime {
    margin: 2% 0 0 0;
  }
  div.swiper-button-prev {
    display: none;
  }
  div.swiper-button-next {
    display: none;
  }
  .div-animes-input {
    width: 60%;
  }
}
@media (max-width: 900px) {
  .swiperSlide-anime {
    min-width: 150px;
    min-height: 300px;
  }
  .new-episodes h1 {
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-left: 1em;
    min-width: 20%;
    color: rgb(187, 165, 40);
    background: rgba(32, 32, 34, 0);
  }
  .div-swiperSlide-new-episodes {
    width: 220px;
    height: 400px;
    text-align: center;
  }

  .button-details {
    display: none;
  }
  .new-episodes {
    border-top: none;
  }
  .swiper-anime {
    margin: 2% auto 0 auto;
  }

  div.swiper-button-prev {
    display: none;
  }
  div.swiper-button-next {
    display: none;
  }
}
