@media (max-width: 600px) {
  .div-swiperSlide-new-episodes {
    width: 220px;
    height: 370px;
  }

  .new-episodes {
    border-top: none;
  }
  .swiperSlide {
    margin-left: 5rem;
  }
  .swiper-new-episodes {
    margin: 2% 0 0 0;
    max-height: 400px;
  }
  div.swiper-button-prev {
    display: none;
  }
  div.swiper-button-next {
    display: none;
  }
  .div-animes-input {
    width: 60%;
  }
}
@media (max-width: 900px) {
  .swiperSlide-anime {
    min-width: 150px;
    min-height: 300px;
  }

  .div-swiperSlide-new-episodes {
    width: 220px;
    height: 400px;
    text-align: center;
  }
  .swiperSlide {
    margin-left: 5rem;
  }

  .button-details {
    display: none;
  }
  .new-episodes {
    border-top: none;
  }
  .swiper-new-episodes {
    margin: 2% auto 0 auto;
    height: 450px;
  }

  div.swiper-button-prev {
    display: none;
  }
  div.swiper-button-next {
    display: none;
  }
}
@media (max-width: 1100px) {
  .swiperSlide {
    margin-left: 5rem;
  }
}
@media (min-width: 1800px) {
  .container-full-width {
    margin-top: 0rem;
    background: #0f181d
      linear-gradient(180deg, #1b2730, #131d24, #131d24, #1a2931);
    width: 100%;
  }
}
