@media (max-width: 600px) {
  .animes-calendar {
    margin-top: 8rem;
  }
  .anime-calendar-buttons {
    padding-left: 3rem;
  }
  .animes-calendar-title {
    margin-top: 1rem;
    text-align: center;
  }
  .anime-calendar-buttons button {
    width: 20%;
    padding: 0.5rem;
  }
}

@media (max-width: 1200px) {
  .animes-calendar {
    width: 90%;
  }
}
