.container-season-upcoming {
  animation-name: slidee;
  transform: translateY(-100px);
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  /* background: linear-gradient(360deg, #000000 0, rgba(32, 32, 34, 0) 99%); */
  color: #fff;
  padding-top: 1%;
  padding-bottom: 5%;
}
.container-season-upcoming .title {
  max-width: 330px;
  margin-left: 10%;
  margin-top: 3%;
  background: rgba(32, 32, 34, 0);
}
.container-season-upcoming h1 {
  font-family: "Staatliches", cursive !important;
  color: rgb(187, 165, 40);
  font-size: 30px;
}
.container-season-upcoming .container-swiper {
  width: 80%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 2%;
}
.container-season-upcoming .container-swiperSlide {
  border: 10px solid #343a40;
  background: #3f7986;
  border-radius: 10px 10px;
  height: 445px;
  width: 225px;
  transition: all 0.4s;
  animation-timing-function: ease;
}

.container-season-upcoming .description .icon {
  color: #fffb57;
  font-size: 30px;
  display: flex;
  justify-content: end;
}
