.container-season-upcoming {
  /* animation-name: slidee;
  transform: translateY(-100px);
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards; */
  /* background: linear-gradient(360deg, #000000 0, rgba(32, 32, 34, 0) 99%); */
  color: #fff;
  width: 80%;
  padding-top: 1%;
  padding-bottom: 5%;
}
.r {
  display: flex;
  width: 100%;
  background: #131d24
    linear-gradient(180deg, #0000, #22343f, #22343f, #22343f, #1f1f27);
}

.container-season-upcoming h1 {
  font-family: Montserrat, sans-serif;
  font-size: 25px;

  font-weight: 600;
  /* color: rgb(187, 165, 40); */
  color: #fff;
  margin: 0 0 1rem 14%;
}

.container-season-upcoming .swiper {
  width: 80%;
  height: 400px;
  margin: 2% auto 0 auto;
  padding-bottom: 5%;
  flex-wrap: wrap;
  border-top: 5px solid #f26420;
}

.container-season-upcoming .description .icon {
  color: #fffb57;
  font-size: 30px;
  display: flex;
  justify-content: end;
}
@media (max-width: 768px) {
  .container-season-upcoming .swiper {
    height: 430px;
  }
}
@media (max-width: 600px) {
  .container-season-upcoming .swiper {
    height: 400px;
  }
}
