.container-season-upcoming-swiper {
  color: #fff;
  width: 80%;
  padding-top: 1%;
  padding-bottom: 5%;
}
.container-season-upcoming {
  display: flex;
  width: 100%;
  max-width: 1800px;
  margin: auto;
  background: #0f181d
    linear-gradient(180deg, #1b2730, #131d24, #131d24, #1a2931);
}

.container-season-upcoming h1 {
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  margin: 0 0 1rem 14%;
}

.container-season-upcoming .swiper {
  width: 80%;
  height: 410px;
  margin: 2% auto 0 auto;
  padding-bottom: 5%;
  flex-wrap: wrap;
  border-top: 5px solid #f26420;
}

.container-season-upcoming .description .icon {
  color: #fffb57;
  font-size: 30px;
  display: flex;
  justify-content: end;
}
