.container-found-animee {
  background: #0f181d
    linear-gradient(180deg, #1b2730, #131d24, #131d24, #1a2931);
}

.search {
  max-width: 1800px;
  margin: auto;
  padding-top: 2%;
}

.search-title {
  padding: 1%;
  background-color: rgb(236, 108, 108);
  border-bottom: 1px solid #505562;
  border-radius: 5px 5px;
  margin-top: 5em;
}
.search-title h1 {
  text-align: center;
  color: #fff;
  font-size: 16px;
}

.div-search-input {
  background-color: rgb(221, 218, 218);
  color: #fff;
  display: flex;
  border-radius: 5px 5px;
}
.div-search-input:target {
  border: 1px solid #fff;
}
.search-input {
  width: 100%;
  font-size: 17px;
  border: none;
  padding: 1%;
  background-color: rgb(221, 218, 218);
  text-align: center;
  border-radius: 5px 5px;
}
input:focus {
  outline: 0;
}
input::placeholder {
  background-color: rgb(221, 218, 218);
  text-align: center;
}
.search-icon-search {
  display: flex;
  align-items: center;
  font-size: 30px;
  margin-right: 0.3em;
  cursor: pointer;
}
.search-genres {
  background-color: #434857;
  color: #f0f8ff;
  padding: 0.5%;
  text-align: center;
  margin-top: 3%;
  border-radius: 5px 5px;
}
.search-icon-close {
  cursor: pointer;
  display: flex;
  justify-content: end;
  align-items: flex-start;
  font-size: 22px;
}
.search-buttons {
  background-color: #434857;
  color: #fff;
  margin-top: 0.2%;
  display: flex;
  flex-wrap: wrap;
}
.search-buttons button {
  background-color: #434857;
  color: #f0f8ff;
  border: 1px solid #505562;
  border-radius: 5px 5px;
  font-size: 15px;
  padding: 1%;
  width: 20%;
  cursor: pointer;
}
.search-buttons button:hover {
  background-color: #393c47;
}

.search-title-result {
  color: #fff;
  padding: 1%;
  font-size: 25px;
  font-weight: 600;
  margin-top: 0.2%;
  font-family: Montserrat, sans-serif;
}
.button-goBack-home {
  margin-top: 3%;
  cursor: pointer;
  display: block;
  font-weight: 600;
  background: #1b1b1b;
  border: 1px solid #1890ff;
  color: #1890ff;
  border-radius: 5px 5px;
}
.search-anime-found {
  border: 10px solid #515255;
  background-color: #515255;
  width: 245px;
  margin-top: 0.4%;
  margin-left: 3%;
  cursor: pointer;
}

.search-info-anime-found {
  display: flex;
  justify-content: center;
  padding: 4%;
  color: #fff;
}
.results-found {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  color: #fff;
}

.search-info-animes {
  display: flex;
  justify-content: center;
  max-width: 200px;
  font-size: 16px;
  text-align: center;
}
.search-animes-found {
  border: 10px solid #515255;
  background-color: #515255;
  border-radius: 10px 10px;
  margin-top: 3%;
  margin-left: 3%;

  cursor: pointer;
  opacity: 0.9;
}

.list-watch-swiper {
  border: 1px solid red;
}
.icon {
  font-size: 20px;
}

@media (max-width: 600px) {
  .icon {
    text-align: right;
    font-size: 20px;
  }
  .search-title-result {
    text-align: center;
    margin-top: 3rem;
  }
  .results-found {
    margin: auto;
    width: 90%;
    justify-content: space-around;
  }
  .container-card-anime {
    margin-top: 10rem;
  }
  .button-goBack-home {
    margin-left: 1rem;
    margin-top: 2rem;
  }
  .search-title {
    width: 70%;
    margin: 5em auto 0 auto;
    padding: 0.5%;
  }
  .div-search-input {
    width: 70%;
    margin: auto;
    padding: 1%;
  }
}
@media (max-width: 900px) {
  .results-found {
    margin: auto;
    width: 100%;
    padding-left: 1rem;
    justify-content: space-around;
  }

  .search-title {
    width: 80%;
    margin: 5em auto 0 auto;
    padding: 0.5%;
  }
  .div-search-input {
    width: 80%;
    margin: auto;
    padding: 1%;
  }
}
@media (max-width: 1200px) {
  .search-title-result {
    text-align: center;
  }
  .button-goBack-home {
    margin-left: 1rem;
    margin-top: 2rem;
  }
  .search-title {
    width: 90%;
    margin: 5em auto 0 auto;
    padding: 0.5%;
  }
  .div-search-input {
    width: 90%;
    margin: auto;
  }
}
