@media (max-width: 1247px) {
  .menu-links {
    font-family: Montserrat, sans-serif !important;
    color: #fff;
    font-size: 14px;
    padding: 0px 0.8em;
  }
}
@media (max-width: 1024px) {
  .menu-links {
    font-family: Montserrat, sans-serif !important;
    color: #fff;
    font-size: 14px;
    padding: 0px 0.5em;
  }
}
