.position-anime {
  display: flex;
  max-width: 1100px;
  margin: 5rem;
}
.position-anime h2 {
  height: 100%;
  width: 200px;
  /* color: rgb(187, 165, 40); */
  color: #fff;
}
.top-animes-title {
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-weight: 600;
  margin-left: 1em;
  min-width: 20%;
  color: rgb(187, 165, 40);
}
.position-anime li {
  line-height: 7.1;
  /* margin-top: 1.3em; */
  color: gold;
}
.container-top-animes {
  width: 1100px;
}

.top-animes {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  padding: 1%;
  background-color: #303538;
  margin-top: 1em;
  color: #fff;
  font-size: 16px;
  line-height: 1.4em;
}
.top-animes div {
  display: flex;
  align-items: center;
}
.top-animes span {
  padding-left: 10px;
}
.popularity {
  color: rgb(79, 189, 79);
}

.top-animes:hover {
  background-color: #393e41;
}
.top-animes button {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: #fff;
  background-color: #2d6eb3;
  border: none;
  padding: 4% 0px;
  width: 7rem;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px 5px;
}
.top-animes button:hover {
  background-color: #64a6ec;
}
@media (max-width: 600px) {
  .position-anime div ul {
    display: none;
  }
  .container-top-animes {
    width: 95%;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .top-animes-title {
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    font-weight: 600;
    margin-left: 1em;
    min-width: 20%;
    color: rgb(187, 165, 40);
  }
  .position-anime {
    margin: 0.5rem auto;
  }
  .container-top-animes-details {
    width: 30%;
  }
}
