.swiper-container-animes-recommended {
  color: #fff;
  padding-bottom: 5%;
  margin-top: 0;
  width: 80%;
}

.container-animes-recommended {
  display: flex;
  max-width: 1800px;
  margin: auto;
  margin-top: 0.3rem;
  background: #0f181d
    linear-gradient(180deg, #1b2730, #131d24, #131d24, #1a2931);
}
.character-home {
  width: 20%;
  height: 100%;
  padding-top: 2rem;
  margin: auto 0 auto 1rem;
}
.character-home img {
  height: 30%;
}
.character-home img:hover {
  transform: scale(1.05);
  transition: all 0.6s;
  animation-timing-function: ease;
  cursor: pointer;
}
.container-animes-recommended h1 {
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  margin: 0 0 1rem 14%;
  padding-top: 2rem;
}

.container-animes-recommended .swiper {
  width: 80%;
  height: 390px;
  margin: 2% auto 0 auto;
  flex-wrap: wrap;
  border-top: 5px solid #f26420;
}
@media (max-width: 600px) {
  .container-animes-recommended .swiper {
    max-height: 350px;
  }
  .character-home img {
    display: none;
  }
}
@media (max-width: 900px) {
  .swiper-container-animes-recommended {
    width: 100%;
  }
  .container-animes-recommended .swiper {
    height: 460px;
  }
  .character-home img {
    display: none;
  }
}
@media (max-width: 1024px) {
  #container-animes-recommended #container-swiper {
    width: 90%;
  }
}
@media (max-width: 1200px) {
  .character-home img {
    height: 350px;
  }
  .character-home {
    width: 30%;
  }
  .swiper-container-animes-recommended {
    width: 70%;
  }
  .container-animes-recommended .swiper {
    width: 100%;
  }
}
