.container-animes-season {
  animation-name: slidee;
  transform: translateY(-100px);
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  color: #fff;
  padding-top: 1%;
  padding-bottom: 5%;
}
.container-animes-season .title {
  max-width: 330px;
  margin-left: 10%;
  margin-top: 3%;
  background: rgba(32, 32, 34, 0);
}
.container-animes-season h1 {
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  line-height: 40px;
  font-weight: 600;
  color: rgb(187, 165, 40);
  margin: 2% 0 1rem 6%;
}

.container-animes-season .container-swiper {
  width: 100%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 2%;
}
.container-animes-season .container-swiper .swiper {
  height: 500px;
  width: 69%;
  margin-left: 2%;
  margin-top: 3%;
}

.container-animes-season .title-slide {
  display: flex;
  justify-content: center;
  font-size: 17px;
  color: #fff;
  margin: auto;
  padding-left: 1%;
}
@media (max-width: 600px) {
  .container-animes-season .container-swiper {
    display: block;
  }
  .container-animes-season .container-swiper .swiper {
    width: 80%;
    margin: auto;
    max-height: 350px;
  }
}
@media (max-width: 900px) {
  .container-animes-season .container-swiper {
    flex-direction: column;
  }
  .container-animes-season .container-swiper .swiper {
    width: 80%;
    margin: auto;
    height: 450px;
  }
}

@media (max-width: 1485px) {
  .container-animes-season .container-swiper {
    flex-direction: column;
  }
  .container-animes-season .container-swiper .swiper {
    width: 80%;
    margin: auto;
  }
  div.swiper-button-prev {
    display: none;
  }
  div.swiper-button-next {
    display: none;
  }
}
