.lateral-menu {
  background-color: #fff;
  padding-top: 5%;
}
.div-lateral-menu-item {
  display: flex;
  flex-wrap: wrap;
}
.lateral-menu-icon {
  color: #fff;
  display: flex;
  justify-content: end;
  font-size: 22px;
  margin-top: 2%;
}

.lateral-menu-item {
  display: flex;
  padding-top: 2%;
  padding-bottom: 2%;
}
.lateral-menu-data {
  margin: auto 0px;
}
.lateral-menu-item:hover {
  color: red;
}
.lateral-menu-name {
  display: flex;
  flex-wrap: wrap;
}
