.carousel-anime {
  height: 80vh;
  background-size: 100%;
  width: 100%;
  min-width: 200px;
  min-height: 300px;
  background-repeat: no-repeat;
  display: block;
}
.carousel-button {
  color: rgb(255, 255, 255);
  border: 1px solid #00ffff;
  background-color: #000000;
  width: 25%;
  padding: 1em;
  margin-top: 3%;
  border-radius: 25px 25px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 1px 5px 40px 0px #616296;
  animation: effect-button 1s ease-in-out alternate infinite;
}
@keyframes effect-button {
  to {
    transform: translateY(10px);
  }
}
.carousel-data {
  margin-top: 6%;
  width: 50%;
  margin-left: 5%;
}
.carousel-title-anime {
  color: rgb(255, 255, 255);
  margin-top: 10%;
  font-size: 50px;
}
.carousel-text-anime {
  font-size: 15px;
  color: rgb(255, 255, 255);
  opacity: 0.8;
}
.carousel-icon {
  color: #fff;
  margin-left: 3%;
}
.icon-play {
  margin-right: 1rem;
  font-size: 1rem;
  color: red;
}
.carousel-data {
  color: #fff;
  margin-left: 1%;
}
.gradient {
  background: linear-gradient(to top right, #000000, #000000);
  width: 100%;
  height: 100%;
  opacity: 0.8;
  position: absolute;
}
@media (max-width: 1200px) {
  .carousel-data {
    margin-top: 6.3rem;
    width: 65%;
  }
  .carousel-text-anime {
    font-size: 1.05rem;
  }
}
@media (max-width: 900px) {
  .carousel-data {
    margin-top: 6.3rem;
    width: 65%;
  }
  .carousel-title-anime {
    font-size: 35px;
  }
  .carousel-button {
    width: 30%;
    padding: 0.5em;
    margin-top: 4%;
  }
}
@media (max-width: 768px) {
  .carousel-title-anime {
    font-size: 35px;
  }
  .carousel-text-anime {
    display: none;
  }
  .carousel-data {
    margin-top: 25%;
    width: 65%;
  }
  .carousel-button {
    width: 30%;
    padding: 0.5em;
    margin-top: 4%;
  }
}
@media (max-width: 600px) {
  .carousel-anime-swiper {
    display: none;
  }
}
