.info-anime {
  color: #fff;
  /* background-color: #0a0a0a; */
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: hidden;
  max-width: 1800px;
}
.banner {
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  /* border: 1px solid red; */
}
.div-info-anime-img {
  width: 20%;
  height: 100%;
  min-width: 300px;
  min-height: 350px;
  margin-top: 6rem;
}

.info-anime-img {
  width: 100%;
}
.title-favorite {
  margin-left: 1em;
  font-size: 20px;
}
.butons-options {
  display: flex;
  justify-content: center;
}
.options-background {
  background-color: #fff;
  width: 200px;
}
.options-link-buttons:hover {
  background-color: rgb(211, 211, 208);
}
.button-favorite {
  width: 30%;
  background-color: rgb(189, 52, 52);
  color: #fff;
  font-size: 17px;
  border-radius: 15px 15px;
  border: none;
  margin-top: 0.8em;
  padding: 0.2em;
  cursor: pointer;
}
.button-favorite:hover {
  background-color: rgb(212, 33, 33);
}

.buttonsDrop-options {
  margin-top: 5.5%;
}
.icon-options {
  font-size: 25px;
  color: black;
  background-color: #fff;
  width: 100%;
  min-width: 10px;
  border-radius: 5px 5px;
}
.info-anime-synopse {
  overflow-x: hidden;
  padding-top: 5%;
  width: 75%;
  height: 100%;
}
.title-character {
  font-family: Montserrat, sans-serif !important;
  font-size: 20px;
  font-weight: 600;
}

.title-synopse {
  font-family: Montserrat, sans-serif !important;
  font-size: 20px;
  font-weight: 600;
}
.character {
  display: block;
  background-size: cover;
  height: 200px;
  width: 500px;
  margin-left: 0.5em;
  margin-bottom: 5%;
  cursor: pointer;
  transition: all 0.6s;
  animation-timing-function: ease;
}
.character:hover {
  transform: scale(1.05);
}

.name-character {
  width: 60px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  font-size: 18px;
}
.text-synopsis {
  display: block;
  padding-top: 1%;
  color: #a4abaf;
  line-height: 1.7;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 4%;
}
.button-out {
  background-color: red;
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  margin: 1em 0px;
  border-radius: 5px 5px;
  cursor: pointer;
}
.buttons-and-trailer {
  display: flex;
  justify-content: space-around;
  /* background-color: #0a0a0a; */
  flex-wrap: wrap;
  max-width: 1800px;
}
.info-anime-buttons {
  display: block;
  min-width: 100px;
  width: 20%;
  margin-top: 5%;
  padding-top: 6%;
}
.info-anime-buttons button {
  display: block;
  width: 100%;
  color: #fff;
  font-weight: 700;
  background-color: red;
  border: none;
  margin-top: 0.2em;
  padding: 1em;
  cursor: pointer;
}
.info-anime-buttons button:hover {
  background-color: rgb(187, 20, 20);
}
.episodes {
  min-width: 380px;
  display: flex;
  color: #fff;
  width: 68%;
  flex-wrap: wrap;
}

.img-episodes {
  cursor: pointer;
  margin: 1em 1em;
  width: 150px;
  height: 100px;
  transition: all 0.6s;
  animation-timing-function: ease;
}
.img-episodes:hover {
  transform: scale(1.1);
}
.buttons-episode {
  margin-top: 5.3em;
  margin-left: 8.5em;
  background-color: red;
  border: none;
  border-radius: 5px 5px;
  color: #fff;
}
.info-anime-trailer {
  width: 100%;
  min-height: 500px;
  max-width: 1000px;
  box-shadow: 1px 0.2px 20px 3px #6a5fa1;
}
.library {
  display: block;
  justify-content: space-around;
  flex-wrap: wrap;
  /* background-color: #0a0a0a; */
  padding-top: 2rem;
}
.library-buttons {
  width: 20%;
  /* border: 1px solid rgb(36, 36, 35); */
  padding-bottom: 1em;
  min-width: 100px;
  flex-wrap: wrap;
}
.library .icons-library {
  padding-right: 0.4em;
}

.dividerr {
  color: #fff;
}
.div-info-anime-trailer {
  width: 68%;
  /* border: 1px solid gold; */
  height: 100%;
  min-height: 300px;
  margin: 3% auto 0 auto;
}
.library button {
  display: block;
  width: 80%;
  font-weight: 700;
  margin: 0px auto;
  border: none;
  margin-top: 0.5em;
  padding: 0.5em;
  color: #fff;
  cursor: pointer;
  text-shadow: 1px 1px 1px #3c3838;
  border-radius: 5px 5px;
  text-align: center;
}

.library-button-watch {
  background-color: #1997c6;
}
.library-button-favorite {
  background-color: #8146e1;
}
.library-button-watched {
  background-color: rgb(77, 73, 73);
}

.div-details {
  display: flex;
  justify-content: start;
  color: #fff;
  /* background-color: #0a0a0a; */
  padding-top: 3%;
  padding-bottom: 5rem;
}
.details {
  min-width: 300px;
  width: 20%;
}
ul {
  list-style-type: none;
  font-family: Montserrat, sans-serif !important;
  color: rgb(255, 251, 251);
  font-weight: 700;
}
ul li {
  line-height: 1.7;
  font-size: 15px;
}
.color-li {
  color: #a4a39b;
}

.dont-knowTwo {
  width: 70%;
}
.div-character {
  margin-top: 3%;
  color: #fff;
  display: flex;
}
