@media (min-width: 1400px) {
  .info-anime-img {
    width: 70%;
  }
}
@media (min-width: 1024px) {
  .div-character {
    flex-wrap: wrap;
  }
  .character {
    width: 150px;
  }

  .div-info-anime-img {
    margin: 8rem auto 0 1.5rem;
  }
}
@media (max-width: 900px) {
  .info-anime-img {
    width: 80%;
  }
  .character {
    width: 100px;
    height: 120px;
  }
  .div-info-anime-img {
    margin: 8rem auto 0 1.5rem;
  }
  .library-buttons {
    width: 45%;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .div-character {
    flex-wrap: wrap;
  }
  .character {
    width: 100px;
    height: 110px;
  }
  .img-episodes {
    margin: 0.9rem;
  }
  .info-anime-img {
    margin-top: 3rem;
    width: 80%;
  }
  .library-buttons {
    margin: auto;
    width: 50%;
  }
  .library-buttons {
    width: 60%;
  }
  .buttons-and-trailer {
    display: flex;
    flex-direction: column;
  }
  .info-anime-buttons {
    margin: auto;
    display: flex;
    justify-content: space-evenly;
  }
  .info-anime-buttons button {
    margin-left: 1rem;
    height: 50px;
    min-width: 150px;
  }
  .episodes {
    display: flex;
    width: 95%;
    margin: 1rem;
  }
}

@media (max-width: 767px) {
  .div-character {
    flex-wrap: wrap;
  }
  .character {
    width: 90px;
  }

  .info-anime-trailer {
    min-height: 400px;
  }
  .div-info-anime-trailer {
    width: 100%;
  }
  .library-buttons {
    width: 80%;
  }
  .info-anime-buttons {
    margin-bottom: 3%;
    display: flex;
    width: 60%;
  }
  .info-anime-buttons button {
    margin-left: 0.5em;
    height: 80%;
  }
}
@media (max-width: 600px) {
  .banner {
    display: none;
  }
  .button-out {
    display: none;
  }
  .title-synopse {
    display: block;
    margin-top: 2rem;
  }
  .div-info-anime-img {
    margin-top: 4rem;
    margin-left: 10%;
    /* background-color: #2f2c38; */
  }
  .div-info-anime-trailer {
    width: 80%;
  }
  .library-buttons {
    margin: auto;
  }
}
@media (max-width: 425px) {
  .banner {
    display: none;
  }
  .button-out {
    display: none;
  }
  .div-info-anime-img {
    margin-top: 7%;
    margin-left: 10%;
    /* background-color: #2f2c38; */
  }

  .title-favorite {
    margin: auto;
  }

  .text-synopsis {
    font-size: 15px;
  }
  .div-character {
    flex-wrap: wrap;
    /* border: 1px solid gold; */
    padding-left: 2%;
  }
  .title-character {
    margin-left: 4%;
    width: 20px;
  }
  .character {
    width: 75px;
    height: 120px;
  }
  .info-anime-synopse {
    width: 95%;
  }
  .title-synopse {
    margin-left: 3%;
  }
  .text-synopsis {
    margin-left: 3%;
  }
  .info-anime-buttons {
    display: flex;
    width: 80%;
  }
  .info-anime-buttons button {
    margin-left: 0.5em;
    height: 80%;
  }
  .episodes {
    padding-left: 5%;
  }
  .library {
    display: block;
  }
  .library-buttons {
    width: 100%;
  }
  .info-anime-trailer {
    min-height: 200px;
  }
  .div-info-anime-trailer {
    width: 95%;
    margin-left: 3%;
  }
}
