.footer {
  background-color: #18181f;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  padding-top: 5rem;
}

.footer-logo {
  width: 9%;
}
.footer ul {
  font-size: 24px;
}

.footer ul li {
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  line-height: 2;
  text-align: start;
}
.footer ul li:hover {
  color: rgb(117, 115, 115);
}
.icons {
  color: #fff;
  width: 20%;
  padding-bottom: 0.8rem;
  text-align: center;
}
.icons span {
  font-size: 17px;
  font-weight: 600;
}
.icons img {
  margin: 0.5rem 0 0 0.5rem;
}
.icons img:hover {
  transform: scale(1.1);
  transition: all 0.8s;
  animation-timing-function: ease;
  cursor: pointer;
}
.rights-reserved {
  color: #fff;
  text-align: center;
  background-color: #18181f;
  opacity: 0.9;
  font-style: oblique;
  margin: 0;
}
