.footer {
  border: 1px solid #0d0d11;
  background-color: #0d0d11;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  padding-top: 5em;
 
}

.footer-logo {
  width: 9%;
  /* border: 1px solid red; */
}
.footer ul {
  font-size: 24px;
}

.footer ul li {
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  line-height: 2;
  text-align: start;
}
.footer ul li:hover {
  color: rgb(117, 115, 115);
}
@media (max-width: 767px) {
  .footer-logo {
    display: none;
    /* border: 1px solid red; */
  }
}
@media (max-width: 600px) {
  .footer {
    /* border: 1px solid gold; */
    display: block;
    flex-wrap: wrap;
    height: 100%;
  }
}
