@media (max-width: 767px) {
  .footer-logo {
    display: none;
  }
}
@media (max-width: 600px) {
  .footer {
    display: block;
    flex-wrap: wrap;
    height: 100%;
    justify-content: start;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: auto;
  }
  .icons {
    text-align: start;
    margin-left: 2rem;
    width: 100%;
    padding-bottom: 3rem;
  }
  .icons span {
    margin-left: 0.7rem;
    font-weight: 600;
  }
  .icons img {
    margin: 0.3rem 0 0 0.7rem;
  }
  .footer-logo {
    border: 1px solid red;
  }
  .rights-reserved {
    margin: 0;
    padding: 0;
  }
}
