@media (max-width: 600px) {
  .card-anime button {
    display: none;
  }
  .card-anime {
    max-width: 205px;
    max-height: 260px;
    text-align: center;
  }
  .card-anime div img {
    max-width: 192px;
    max-height: 200px;
    display: block;
  }
}
@media (max-width: 900px) {
  .card-anime {
    width: 230px;
    height: 350px;
  }
  .card-anime div {
    min-width: 150px;
    min-height: 300px;
  }
  .card-anime div img {
    width: 210px;
    min-height: 270px;
  }
  .card-anime button {
    display: none;
  }
}
@media (max-width: 1024px) {
  .card-anime {
    width: 230px;
    height: 370px;
  }
  .card-anime div {
    min-width: 150px;
    min-height: 300px;
  }
  .card-anime div img {
    width: 210px;
    height: 250px;
  }
}
